/* Navigation Rules */
nav {
    background-color: #333;
    padding: 0.5rem;
}

nav a {
    color: #fff;
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
}

/* Heading Styling */
h1 {
    color: #2c3e50;
}

/* Main Layout Rules */
main {
    max-width: 840px;
}

/* Profile Image Styling */
main img {
    width: 150px;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Aside Styling */
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

/* General Elements */
p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}