/* Restrict main width */
main {
    max-width: 840px;
}

/* Specific styling for profile image inside main */
main img {
    width: 150px;
    height: auto;
}

/* Aside section styles */
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

/* Specific styling for image inside aside */
aside img {
    width: 200px;
    height: auto;
}

/* Remove padding from paragraphs */
p {
    padding: 0;
}

/* Footer styling */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}