/* Navigation styles */
nav {
    background-color: #333333;
    padding: 10px;
}

nav a {
    color: #ffffff;
    padding: 10px 15px;
    display: block;
}

/* Main content styles */
main {
    max-width: 840px;
    margin: 0 auto;
}

h1 {
    color: #003366;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #cccccc;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Sidebar / Aside styles */
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

/* Paragraph styles */
p {
    padding: 0;
}

/* Footer styles */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}